<script>
    $(document).ready(function () {
        $("#table").DataTable({
            "processing": true,
            "serverSide": true,
            "filter": true,
            "orderMulti": false,
            "ajax": {
                "url": "/Tables/GetSensors",
                "type": "POST",
                "dataType": "json",
                "contentType": "application/json",
                "data": function (d) {
                    console.log(d);
                    return JSON.stringify({
                        draw: d.draw,
                        start: d.start,
                        length: d.length,
                        sortColumn: d.columns[d.order[0].column].data,
                        sortDirection: d.order[0].dir,
                        searchValue: d.search.value
                    });
                }
            },
            "columns": [
                { "data": "name" },
                { "data": "type" },
                { "data": "installationDate" },
                { "data": "isActive",
                  "render" : function(data) {
                    if (data === true) {
                        return '<div style="display: flex; justify-content: center; align-items: center; height: 100%;"><i class="fa-solid fa-2x fa-square-check"></i></div>';
                    } else {
                        return '<div style="display: flex; justify-content: center; align-items: center; height: 100%;"><i class="fa-solid fa-square-xmark"></i></div>';
                    }
                  }
                },
                { "data": "siteName" },
                { "data": "sensorId", "visible": false },
                { "data": null },
            ],
            "columnDefs": [
                {
                    targets: -1,
                    data: null,
                    render: function (data, type, row) {
                        return `
                            <a class="btn btn-info statistics-button" href='/statistics/${row.sensorId}'>Statistics</a>
                            <button class="btn btn-warning edit-button">Edit</button>
                            <button class="btn btn-danger delete-button">Delete</button>
                        `;
                    }
                }
            ],
        });
    });
</script>