@using FlowGuardMonitoring.WebHost.Resources
@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Email Confirmed";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Email Confirmed</h3>
                </div>
                <div class="card-body text-center">
                    <p>@AuthLocals.EmailConfirmedMsg</p>
                    <p>@AuthLocals.EmailConfirmedLoginMsg</p>
                    <div class="d-grid gap-2 mt-3">
                        <a href="@Url.Action("Login", "Authentication")" class="btn btn-success">Go to Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
