@{
    ViewData["Title"] = "Notifications";
    Layout = "_Layout";
    ViewData["ScriptPath"] = "/Notifications/Partials/NotificationScript";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header row">
            <h4 class="card-title col-md-6">Notifications</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table
                    id="notificationsTable"
                    class="display table table-striped table-hover"
                >
                    <thead>
                    <tr>
                        <th>Icon</th>
                        <th>Notification</th>
                        <th>Time</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Icon</th>
                        <th>Notification</th>
                        <th>Time</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

